@use 'colors';
@use 'fonts';
@use 'overwrites';

.wrapper {
    max-width: 1440px;
}

.container {
    margin: 121px 135px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.section-slider {
    display: flex;
    flex-direction: row;
    gap: 170px;

    &__right {
        max-width: 430px;
    }

    &__left {
        .profile__img {
            --size: 100px;
            --thickness: 1px;
            --gap: 15px;

            padding: calc(var(--gap) + var(--thickness));
            outline: var(--thickness) solid colors.$yellow-color;
            outline-offset: calc(-1*var(--thickness));
            -webkit-mask:
                conic-gradient(at var(--size) var(--size), #0000 75%, #000 0) 0 0/calc(100% - var(--size)) calc(100% - var(--size)),
                linear-gradient(#000 0 0) content-box;
        }

    }
}