* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
 display: flex;
}

.logo__img{
    margin: 24px 0 24px 120px;
    max-width: 200px;
}


.header__menu{
    display: flex;
    margin: 24px auto 24px auto;
    gap: 20px;
}


.header__buttons{
    margin: 24px 120px 24px 0;
    display: flex;
    gap: 32px;
}
.button__sign-in{
    display: flex;
    max-width: 110px;
    max-height: 46px;
    padding: 13px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    color: #2F281E;
    background-color: #FFF;
}
.button__sign-up, .button__get-started{
    display: flex;
    max-width: 110px;
    max-height: 46px;
    padding: 13px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid transparent;
    background: var(--Orange, #F90);
    color: #FFF;
}

.first-screen{
    display: flex;
    padding: 70px 120px 100px 120px;
}
.first-screen__container{
    margin: 97px 0 97px auto;
}
.first-screen__title{
    margin-bottom: 30px;
}
.first-screen__text{
    margin-bottom: 20px;
}

.button__get-started{
    max-width: 180px;
    max-height: 50px;
}
.first-screen__image{
    max-width: 1200px;
}