:root{
    --main-font: 'Montserrat', sans-serif;
    --title-font: 400 36rem/normal var(--main-font);
    --text-font: 500 20rem/24rem var(--main-font);
    --button-font: 400 20rem/24rem var(--main-font);

    --black-color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap:70px;
    margin:13px 120px;
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    flex-direction: row;
}