html {
    font-size: 1px;
}

:root {

    --farro-font: 'Farro', sans-serif;
    --francois-font: 'Francois One', sans-serif;
    --pt-font: 'PT Sans', sans-serif;
    --staatliches-font: 'Staatliches', sans-serif;
    --tourney-font: 'Tourney', sans-serif;

    --chapter-font: 300 30rem/normal var(--farro-font);
    --title-font: 400 36rem/normal var(--francois-font);
    --text-font: 400 28rem/normal var(--pt-font);
    --nav-font: 400 22rem/24rem var(--staatliches-font);
    --languague-font: 600 22rem/24rem var(--tourney-font);

    --black-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 13px 120px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.header__nav {
    display: flex;
    flex-direction: row;
    font: var(--nav-font);
    gap: 10px;
    position: absolute;
    left: 10%;
}


.header__languague {
    font: var(--languague-font);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
}

.flip-card-front__logo{
    fill: black;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.flip-card-back {
    background-color: black;
    fill: white;
    transform: rotateX(180deg);
}

.flip-card-back__logo{
    fill: white;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}